<% if flash[:notice] %>
 <p id="notice">
  <%= flash[:notice] %>
 </p>
 <% else %>
 <p id="notice"></p> 
 <% end %>
 <div class='container px-5 px-sm-0'>
  <!--部分テンプレート（エラーメッセージ）-->
 <%= render 'layouts/error_messages', user: @book %>
   <div class='row'>
    <div class='col-md-3'>
     <!--部分テンプレート（サイドバー）-->
     <%= render 'users/list', user: @book_find.user %>
    </div>
 <div class='col-md-8 offset-md-1'>
 <h2>Book detail</h2>
  <table class='table'>
      <tr>
        <td>
          <%= link_to user_path(@book_find.user) do %>
           <%= attachment_image_tag @book_find.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
            <br>
           <%= @book_find.user.name %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(@book_find.id) do %>
           <%= @book_find.title %>
          <% end %>
        </td>
        <td><%= @book_find.body %></td>
        <td>
         <% if @book_find.user == current_user %>
           <%= link_to "Edit",  edit_book_path(@book_find.id) , class: "btn btn-sm btn-success" %>
         <% end %>
        </td>
        <td>
         <% if @book_find.user == current_user %>
          <%= link_to "Destroy", book_path(@book_find.id), method: :delete, data: { confirm: '本当に消しますか？'}, class: "btn btn-sm btn-danger" %>
         <% end %>
        </td>
      </tr>
      <tr>
  </table>
   </div>
  </div>
 </div>